body {
  width: 300px;
  padding: 10px;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.125em;
}

#extension_version {
  float: right;
}

button {
  width: 100%;
  padding: 6px;
  font-size: large;
  font-weight: bold;
}
